[Unit]
Description=Local python webserver
After=network.target

[Service]
ExecStart=/home/pi/env/bin/python /home/pi/axis/cts-thermometer/weblib/thermometer_app.py /home/pi/axis/cts-thermometer/conf/settings.json
Restart=always
RestartSec=5
User=pi
WorkingDirectory=/home/pi/axis/cts-thermometer

[Install]
WantedBy=multi-user.target

